.explore-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 3vh - 8vh);
}

.card-div {
    width:30%;
    height: 30vh;
    border: 1px solid blue;
    margin: 1%;
}