<input type="text" name="search" [(ngModel)]="search" placeholder="Search for trips or users" (ngModelChange)="handleSearch()">
<div class="main-container">
  <div *ngIf="!search.length" class="explore-card-container">
    <div *ngFor="let trip of tripsExplore" class="card-div">
      <div class="username-container" (click)="handleClickUser(trip.owner.username)">
        <h5>@{{trip.owner}}</h5>
      </div>
      <div (click)="handleClickTrip(trip._id)">
        <img src="../../../assets/img/placeholder.png">
        <div class="detail-trip-container">
          <h3>{{trip.name}}</h3>
          <h5>{{trip.description}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="search.length" class="explore-card-container">
    <div *ngFor="let result of searchResults" class="card-div">
      <div class="username-container" (click)="handleClickUser(result.owner.username)">
        <h5>@{{result.owner}}</h5>
      </div>
      <div (click)="handleClickTrip(result._id)">
        <img src="../../../assets/img/placeholder.png">
        <div class="detail-trip-container">
          <h3>{{result.name}}</h3>
          <h5>{{result.description}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>