.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.not-search-container {
  display: flex;
  flex-direction: column;
}

.explore-card-container {
}

.main-scrollable-container {
    overflow: scroll;
    height: calc(100vh - 3vh - 8vh);
}

.card-div {
  width: 38vh;
  height: fit-content;
  margin: 3% 1%;
}

.card-div h3,
h5 {
  margin: 1%;
  cursor: pointer;
}

.username-container {
  height: 4vh;
  padding: 2%;
  background-color: #ef5350;
  color: white;
  border-radius: 10px 10px 0 0;
}

.card-div img {
  width: 38vh;
  height: 36vh;
}

.detail-trip-container {
  height: 8vh;
  padding: 1% 2%;
  border: 1px solid #ef5350;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.input-div {
  margin: 5%;
}

.search-bar {
  width: 100%;
  height: 5vh;
  font-size: 1.1em;
  padding-left: 2%;
  border: none;
  margin-bottom: 5%;

}

.container-display-column {
  display: flex;
  flex-direction: column;
}

.cards-parent {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
    margin: 0 auto;
}

.input-container {
    margin-top: 3%;
    margin-left: 28%;
}

.input-search {
  width: 60%;
  height: 5vh;
  font-size: 1.1em;
  border-radius: 8px;
  border-color: #EF5350;
}
