.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.explore-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: fit-content;
    overflow: scroll;
    height: calc(100vh - 3vh - 8vh);
}

.card-div {
    width: 38vh;
    height: fit-content;
    margin: 3% 1%;
}

.card-div h3, h5{
    margin: 1%;
    cursor: pointer;
}

.username-container {
    height: 4vh;
    padding: 2%;
    background-color: #EF5350;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-div img {
    width: 38vh;
    height: 36vh;
}

.detail-trip-container {
    height: 8vh;
    padding: 1% 2%;
    border: 1px solid #EF5350;
    border-top: none;
    border-radius: 0 0 10px 10px;
}