.video-container {
    width: 100%;
}

.promotional-video {
    width: 100vw;
}

.animation-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 40%;
    left:0;
    right: 0;
    margin: auto;
    width: fit-content;
}

.animation {
    margin-top: 5%;
    font-size: 1.4em;
    color: white;
}

.title h2{
    font-size: 9em;
    color: white;
    font-family: 'Lato', 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0 0;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 18.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

#slideshow {
    overflow: hidden;
    height: 30vh;
    width: 728px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 5%;
  }

  .slide-title-img {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 3%;
  }

  .slide-img {
      height: 13vh;;
  }
  
  .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 18s ease infinite;
  }

  .slide-text {
      padding: 5px;
      padding-top: 0;
      padding-left: 15px;
      color: #3b3b3b;
  }
  
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
  
  .slide:nth-child(1) {
    background: white;;
  }
  
  .slide:nth-child(2) {
    background: white;;
  }
  
  .slide:nth-child(3) {
    background: white;;
  }
  
  .slide:nth-child(4) {
    background: white;;
  }
  
  .slide-title {
    color: #EF5350;
    text-align: center;
    font-size: 1.3em;    
    text-align: right;
  }

  .slide-title-div {
    margin-bottom: 5%;
  }
  
  @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
  }

  .icons-section {
      margin-top: 5%;
  }

  .section-3-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #EF5350;
      padding-bottom: 5%;
  }

  .icon-and-text {
      display: flex;
      flex-direction: column;
      width: 20%;
      text-align: center;
      color: white;
  }

  .section-3-title {
      font-size: 2em;
      color: white;
  }

  .section-3-img {
      height: 10vh;
      margin-bottom: 7%;
  }

  .section-2-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .quotes {
      font-size: 5em;
      color: #3b3b3b;
      font-family: 'Abril Fatface', cursive;
  }

  .carrousel-section {
      margin-top: 7%;
  }
  
::-webkit-scrollbar {
    display: none;
}