<!-- <section class="container-1">
    <div class="main-title">
        <h2>Travelist</h2>
    </div>
    <div class="animation">
        <p class="line-1 anim-typewriter">This is travelist, travel, mark, discover.</p>
    </div>
    <div class="vid-container">
        <div class="video-container">
            <video autoplay loop class="video-background" muted plays-inline>
                <source src="../../../assets/videos/Pexels Videos 4098.mp4" type="video/mp4"> Your browser does not support
                the video tag.
            </video>
        </div>
    </div>
</section>
<section class="container-2">
    <div>
        <h1>Here comes the carrousel</h1>
    </div>
    <div>

    </div>
</section> -->

<section class="video-section">
    <div class="video-container">
        <video autoplay loop src="../../../assets/videos/Pexels Videos 4098.mp4" class="promotional-video" muted plays-inline>
            <source>
        </video>
    </div>
    <div class="animation-title">
        <div class="title">
            <h2>Travelist</h2>
        </div>
        <div class="animation">
            <p class="line-1 anim-typewriter">Travelist, write your own story.</p>
        </div>
    </div>
</section>
<div class="section-2-container">
    <div>
        <p class="quotes">“</p>
    </div>
    <section class="carrousel-section">
        <div id="slideshow">
            <div class="slide-wrapper">
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/prof1.png" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minima?
                                Deleniti cum repellat a eos aliquid beatae, eius porro? Ab repudiandae excepturi sequi commodi?
                                Magni odio aut quibusdam facere exercitationem!</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@balpaula</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/prof2.png" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minima?
                                Deleniti cum repellat a eos aliquid beatae, eius porro? Ab repudiandae excepturi sequi commodi?
                                Magni odio aut quibusdam facere exercitationem!</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@mpositor</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/prof3.png" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minima?
                                Deleniti cum repellat a eos aliquid beatae, eius porro? Ab repudiandae excepturi sequi commodi?
                                Magni odio aut quibusdam facere exercitationem!</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@freckledcelia</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/prof4.png" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minima?
                                Deleniti cum repellat a eos aliquid beatae, eius porro? Ab repudiandae excepturi sequi commodi?
                                Magni odio aut quibusdam facere exercitationem!</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@miguelcarvi</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/prof5.png" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minima?
                                Deleniti cum repellat a eos aliquid beatae, eius porro? Ab repudiandae excepturi sequi commodi?
                                Magni odio aut quibusdam facere exercitationem!</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@cecicaries</h3>
                </div>
            </div>
        </div>
    </section>
    <div>
        <p class="quotes">”</p>
    </div>
</div>
<section class="icons-section">
    <div class="section-3-container">
        <div class="icon-and-text">
            <h4 class="section-3-title">Travel</h4>
            <div class="section-3-icons">
                <img class="section-3-img" src="../../../assets/img/travel.png" alt="">
            </div>
            <div class="section-3-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cupiditate ex magni
                quisquam quod maxime molestias, consectetur, recusandae magnam minima quidem corporis eius, ut accusantium.
                Laborum quidem esse ex tempore!</div>
        </div>
        <div class="icon-and-text">
            <h4 class="section-3-title">Mark</h4>
            <div class="section-3-icons">
                <img class="section-3-img" src="../../../assets/img/map.png" alt="">
            </div>
            <div class="section-3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, aut, veniam modi
                adipisci amet possimus ex enim assumenda consequuntur corrupti iure rerum unde, eligendi minima temporibus
                obcaecati neque excepturi repellat!</div>
        </div>
        <div class="icon-and-text">
            <h4 class="section-3-title">Share</h4>
            <div class="section-3-icons">
                <img class="section-3-img" src="../../../assets/img/share.png" alt="">
            </div>
            <div class="section-3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vel pariatur ipsum
                veritatis. Doloribus, voluptatibus. Velit aut ab aspernatur? Provident quos eos facere dolor earum ipsam
                blanditiis doloribus cumque natus!</div>
        </div>
    </div>
</section>