<section class="video-section">
    <div class="video-container">
        <video autoplay loop src="../../../assets/videos/background-video-travelist.mp4" class="promotional-video" muted plays-inline>
            <source>
        </video>
    </div>
    <div class="animation-title">
        <div class="title">
            <h2>Travelist.</h2>
        </div>
        <div class="animation">
            <p class="line-1 anim-typewriter">The world is too big to stay in one place</p>
        </div>
    </div>
</section>
<div class="section-2-container">
    <div>
        <p class="quotes">“</p>
    </div>
    <section class="carrousel-section">
        <div id="slideshow">
            <div class="slide-wrapper">
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/paula2.jpg" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">I love Travelist, I travel a lot and this website made my life much more simpler. I used to write all the places I've liked in a notebook, now I can hit the button and everything is done. Amazing !</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@balpaula</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/marc2.jpg" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">I've used to try to remember all the places I like when I travel, now, my life is much more easy, I have all my marks in one places and I can check them when I want. </p>
                        </div>
                    </div>
                    <h3 class="slide-title">@mpositor</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/borja2.jpg" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">I love this web app, it's amazing that you can store all your trips in one place but it's not only this, you also can check the other trips from other users !</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@borjaCab</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/sandra2.jpg" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">I like a lot to travel but sometimes when I go to a new place I never know what to visit. Travelist has an awesome social component where you can check where did the other people went in order to get inspired.</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@sandraNav</h3>
                </div>
                <div class="slide">
                    <div class="slide-title-img">
                        <div>
                            <img src="../../../assets/img/prof5.png" alt="" class="slide-img">
                        </div>
                        <div>
                            <p class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minima?
                                Deleniti cum repellat a eos aliquid beatae, eius porro? Ab repudiandae excepturi sequi commodi?
                                Magni odio aut quibusdam facere exercitationem!</p>
                        </div>
                    </div>
                    <h3 class="slide-title">@cecicaries</h3>
                </div>
            </div>
        </div>
    </section>
    <div>
        <p class="quotes">”</p>
    </div>
</div>
<section class="icons-section">
    <div class="section-3-container">
        <div class="icon-and-text">
            <h4 class="section-3-title">Travel</h4>
            <div class="section-3-icons">
                <img class="section-3-img" src="../../../assets/img/travel.png" alt="">
            </div>
            <div class="section-3-text">
                Do you enjoy travel as much as we do? What is your next destination? Keep track of 
                your next trip with Travelist. Welcome to the travel lovers community.
            </div>
        </div>
        <div class="icon-and-text">
            <h4 class="section-3-title">Collect</h4>
            <div class="section-3-icons">
                <img class="section-3-img" src="../../../assets/img/map.png" alt="">
            </div>
            <div class="section-3-text">
                Add your favorite places to your maps while you're traveling. Make them yours with 
                comments and pictures. Collect your travel memories. 
            </div>
        </div>
        <div class="icon-and-text">
            <h4 class="section-3-title">Discover</h4>
            <div class="section-3-icons">
                <img class="section-3-img" src="../../../assets/img/share.png" alt="">
            </div>
            <div class="section-3-text">
                Explore where other travelists have been during their trips. Save your favorites. 
                See what they experienced and get inspired to discover new places.
            </div>
        </div>
    </div>
</section>