<section class="navbar-heigt">
  <div *ngIf="!user" class="navbar-not-registered">
    <h3 (click)="handleGoHome()" class="title">Travelist</h3>
    <div class="navbar-not-registered-2">
      <a (click)="handleSignup()" class="link-signup link">Sign up</a>
      <a (click)="handleLogin()" class="link-login link">Log in</a>
    </div>
  </div>
  <div *ngIf="user" class="navbar-registered">
    <h3 (click)="handleGoTrips()">Travelist</h3>
    <a (click)="handleLogout()" class="link-logout link">Log out</a>
  </div>
</section>
<div *ngIf="!user">
  <div *ngIf="showSignup">
    <app-signup></app-signup>
  </div>
  <div *ngIf="showLogin">
    <app-login></app-login>
  </div>
</div>