.menu-icon {
    display: none;
}

.navbar-not-registered, .navbar-registered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EF5350;
    color: white;
    height: 8vh;
}

.navbar-not-registered-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-signup, .link-login {
    margin-right: 50px;
}

.title {
    padding-left: 15px;
}

.navbar-registered a, h3 {
    margin-right: 20px;
    margin-left: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

a, h3 {
    cursor: pointer;
}

h3 {
    font-family: 'Lato', 'Quicksand', sans-serif;
    font-weight: 400;
}
  
.link{
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.link:hover:after{
    width: 100%;
    left: 0;
    background: #fff;
}
  
#slide {
    display: none;
}

@media (max-width: 425px) {
    .title {
        margin: 55px;
    }

    .link-signup, .link-login {
        margin-right: 30px;
    }
}
