.container {
    display: flex;
    flex-direction: row;
}

app-sidebar {
    width: 20%;
}

app-explore {
    width: 80%;
}

@media (max-width: 425px) {
    app-sidebar {
        position: absolute;
        width: 80%;
        left: -80%;
    }

    app-explore {
        width: 100%;
    }
}