.login-global-div {
    display: flex;
    flex-direction: column;
}

.label-input-column {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.login-align {
    display: flex;
    justify-content: flex-end;
}