<div class="login-align">
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div class="field login-global-div" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <div class="label-input-column">
        <div>
          <label>Username</label>
        </div>
        <div>
          <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required />
        </div>
      </div>
      <div class="label-input-column">
        <div>
          <label>Password</label>
        </div>
        <div>
          <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required />
        </div>
      </div>
    </div>
    <div class="field-submit">
      <button type="submit" class="login-button">Login</button>
    </div>
  </form>
</div>