
.container {
    display: flex;
    flex-direction: row;
}

app-sidebar {
    width: 20%;
}

app-map {
    width: 80%;
}

@media (max-width: 425px) {
    app-sidebar {
        position: absolute;
        z-index: 3;
    }

    app-map {
        width: 100%;
    }

}