<section class="container">
  <div class="info-container">
    <div class="info-photo">
      <div class="profile-pic-div">
        <img src="../../../assets/img/prof1.png" alt="" class="profile-pic">
      </div>
      <div class="user">
        <h2>@{{user.username}}</h2>
      </div>
    </div>
    <div class="bio-container">
      <h3 class="description">About me</h3>
      <p *ngIf="!showForm">{{this.description}}</p>
      <button *ngIf="showEditDescription && !showForm" (click)="handleEdit()" class="button-edit">Edit bio</button>
      <form *ngIf="showForm" (ngSubmit)="submitForm(form)" #form="ngForm">
        <div>
          <textarea type="text" name="description" [(ngModel)]="description" #descriptionField="ngModel"></textarea>
        </div>
        <button type="submit" class="button-edit">Done</button>
      </form>
    </div>
  </div>
  <div>
    <h3 class="trips-title">My trips</h3>
  </div>
  <div class="scroll-container">
    <div class="scrollable-trips-container">
      <div *ngFor="let trip of trips" (click)="handleChangeOfTrip(trip)" class="card">
        <div class="mytrips-card-title">
          <h4>@{{user.username}}</h4>
        </div>
        <div class="mytrips-card-info">
          <h4>{{trip.name}}</h4>
          <h4>{{trip.description}}</h4>
        </div>
      </div>
    </div>
    <div>
      <h3 class="fav-title">My favorites</h3>
    </div>
    <div class="scroll-container">
      <div class="scrollable-favorites-container">
        <div *ngFor="let favorite of favorites" (click)="handleExploreFavorite(favorite._id)" class="card">
          <h4>{{favorite.name}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>