.container {
  height: calc(100vh - 3vh - 8vh);
  overflow: scroll;
}

.description {
  margin: 0%;
}

.scrollable-trips-container {
  background-color: #fff;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
  width: 90%;
  margin-left: 5%;
}

.scrollable-favorites-container {
  background-color: #fff;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
  width: 90%;
  margin-left: 5%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

textarea {
  width: 34vw;
  height: 12vh;
  resize: none;
}

.info-photo {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  height: 10vh;
  border-radius: 50%;
}

.profile-pic-div {
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 5%;
}

.bio-container {
  margin-left: 20%;
  margin-top: 1%;
  margin-right: 10%;
}

.description {
  border-bottom: 1px solid black;
}

.button-edit {
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  border-color: #EF5350;
}

.button-edit:hover {
  transition: 0.5s;
  padding: 10px;
  font-size: 1em;
  border-radius: 1px solid  #EF5350;
  color: white;
  background-color: #EF5350;
}

.trips-title {
  margin-left: 6.1%;
}

.fav-title {
  margin-left: 5%;
}

.scroll-container {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  top: 35%;
  right: 0;
  left: 20%;
  margin: auto;
  background-color: white;
}

.card-div {
  width: 38vh;
  height: fit-content;
  margin: 3% 1%;
}

.card-div h3, h5{
  margin: 1%;
  cursor: pointer;
}

.username-container {
  height: 4vh;
  padding: 2%;
  background-color: #EF5350;
  color: white;
  border-radius: 10px 10px 0 0;
}

.card-div img {
  width: 38vh;
  height: 36vh;
}

.detail-trip-container {
  height: 8vh;
  padding: 1% 2%;
  border: 1px solid #EF5350;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.user-trip-image-div img {
  border-radius: 10px 10px 0 0;
}