.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100vh - 3vh - 8vh);
    border-right: 1px solid #EF5350;
}

.scrollable-div {
    height: 175px;
    overflow: scroll;
    overflow-x: hidden;
    border-top: 1px solid #EF5350;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.trip-name {
    padding-left: 20%;
    display: inline;
}

.scrollable-container {
    background-color: 	white;
}

.plane {
    height: 5vh;
    padding-left: 15%;
}

.trip-detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.add-button {
    margin-left: 10%;
}

.new-trip-link {
    font-style: italic;
}

.trips-title {
    margin-left:10%;
    margin-bottom: 5%;
}

.profile-title {
    margin-left:10%;
    margin-bottom: 5%;
}

.explore-title {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.trips-title:hover,.profile-title:hover,.explore-title:hover{
    color: #EF5350;
    transition:0.5s;
}

.trip-name:hover {
    color:#F08080;
    transition: 0.25s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding-right: 5px;
}

/* Track
::-webkit-scrollbar-track {
    background: #f1f1f1; 
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.icon-title-div {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #EF5350;
    width: 100%;
}

.img-icon-marker {
    height: 3.5vh;
    margin-top: 5%;
    margin-left: 5%;
}

.img-icon-world {
    height: 3.5vh;
    margin-top: 12%;
    margin-left: 5%;
}

.img-icon-profile {
    height: 3.5vh;
    margin-top: 5%;
    margin-left: 5%;
}

.border-bottom {
    border-bottom: 1px solid #EF5350;
}

.sidebar-container h3, h4 {
    cursor: pointer;
}