<input type="checkbox" id="slide" name="" value="" />
<div class="container">
<label for="slide" class="toggle"><img src="../../../assets/img/menu.png"></label>
<div class="sidebar">
  <div [routerLink]="['/trips']" class="trips-link">
    <div class="icon-title-div">
      <img src="../../../assets/img/direction-pin-and-map.png" alt="" class="img-icon-marker">
      <h3 class="trips-title" [routerLink]="['/trips']" routerLinkActive="active-link">My trips</h3>
    </div>
    <div class="scrollable-container">
      <div *ngIf="isTripsPage" class="scrollable-div">
          <div>
            <h4 class="trip-name new-trip-link trip-detail-container" (click)="handleClickAllTrips()">All trips</h4>
          </div>
        <div *ngFor="let trip of trips" (click)="handleChangeOfTrip(trip)" class="trip-detail-container">
          <h4 class="trip-name">{{trip.name}}</h4>
        </div>
        <div>
          <h4 class="trip-name new-trip-link trip-detail-container" (click)="handleClick()">+ New trip</h4>
        </div>
      </div>
    </div>
  </div>
  <div [routerLink]="['/explore']" class="explore-link" routerLinkActive="active-link">
    <div class="icon-title-div">
      <img src="../../../assets/img/worldwide.png" alt="" class="img-icon-world">
      <h3 class="explore-title">Explore</h3>
    </div>
  </div>
  <div [routerLink]="['/profile', this.user.username]" class="profile-link" routerLinkActive="active-link">
    <div class="icon-title-div">
      <img src="../../../assets/img/user.png" alt="" class="img-icon-profile">
      <h3 class="profile-title">My profile</h3>
    </div>
  </div>
</div>
</div>
<app-newtrip *ngIf="showForm"></app-newtrip>