.signup-global-div {
    display: flex;
    flex-direction: column;
}

.label-input-column {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.signup-align {
    display: flex;
    justify-content: flex-end;
}

input:focus {
    outline: none;
}

.ng-touched {
    border-color: blue;
}

.ng-touched.ng-invalid {
    border-color: red;
}

.ng-touched.ng-valid {
    border-color: green;
}